html,
body {
  font-family: 'Montserrat';
  background: #1C1D21;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

section {
  margin-top: 140px;
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(20%);
  transition: all 1s;
  overflow-x: hidden;
}

.show {
  filter: blur(0);
  transform: translateX(0);
  opacity: 1;
}

.section-wrapper {
  width: 1080px;
  margin: 0 auto;
  box-shadow: 6px 8px 16px rgba(0, 0, 0, 0.25);
}

.text-color-accent {
  color: #29C0D0 !important;
}

.line {
  margin: 20px 0;
  width: 120px;
  border-bottom: 1px solid #66FCF1;
}